#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [3]:
#Math - put math instead Math
import math
print(math.sqrt(16))

4.0

#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [6]:
#Pass x to the function
def my_function(x):
    x += 5
    print(x)

x = 10
my_function(x)

15

#3.x = 5
if x = 10:
    print("x is 10")

In [8]:
#x==10
if x == 10:
    print("x is 10")

x is 10

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [14]:
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

#or

numbers = [5, 3, 8, 2]
print(sorted(numbers))

[2, 3, 5, 8]
[2, 3, 5, 8]

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

In [17]:
#missing retuen
def square(n):
    return n * n

print(square(4))

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5
#tuple does not assign a value

#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [25]:
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old")

My name is Alice and I am 25 years old

#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [26]:
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

#9.
for i in range(5, 1):
    print(i)

In [29]:
for i in range(5, 1, -1):
    print(i)

5
4
3
2

In [32]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

KeyError: 'Alice'